/* ROOT */
body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(248, 248, 248);
}
.container{
    max-width: 1200px;
    margin: auto;
}
a{
    text-decoration: none;
}

/* HEADER */
.main-header{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.main-header .header-info-and-contacts{
    display: flex;
    align-items: center;
}
.main-header .navigation ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: circle;
}
.main-header .navigation li{
    margin: 10px;
}
.main-header .navigation a{
    color: black;
}
.main-header .navigation a:hover{
    border-bottom: 1px black solid;
}

/* MAIN INFO */
.main-info {
    background: url("images/Counter\ Strike\ 2\ \(3440x1440\).jpg") no-repeat;
    background-size: 100%;
    color: white;
}
.main-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-info-content{
    padding: 175px 0;
    width: 70%;
    font-size: 150%;
    transform: translateY(8%);
}
.main-info-content h1{
    margin: 0;
}
.main-info-content p{
    margin: 35px 0;
}
.main-info-content a {
    color: white;
    background-color: #ed7a00;
    padding: 15px 80px;
    font-size: 80%;
}

/* POPULAR PRODUCTS */
.popular-products {
    text-align: center;
    font-size: 130%;
    padding: 50px 0;
}
.popular-products h1 {
    font-weight: 800;
}
.cards {
    display: flex;
}
.card {
    margin: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px #E8E5E5 solid;
    width: calc(100% / 3 - (10px * 2 + 25px * 2));
}
.card img {
    width: 75%;
    border-radius: 50%;
}
.card span{
    font-weight: 700;
    margin: 15px 0;
}
.card a {
    color: white;
    background-color: #ed7a00;
    padding: 8px 50px;
    text-decoration: none;
}


/* Construction materials store */
.shop {
    background: white;
    font-size: 20px;
}
.shop p {
    font-weight: 100;
    color: rgb(104, 104, 104);
}
.shop h1 {
    text-align: center;
    font-weight: 800;
    margin: 50px;
}
.store {
    margin: 0 70px;
    padding: 50px 0;
}


/* Why choose us */
.Causes {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin: 100px;
}
.Reasons {
    display: flex;
}
.Causes img {
    width: 150px;
}
.Causes p {
    font-weight: 100;
    color: rgb(104, 104, 104);
}
.DELIVERY {
    margin: 10px 10px 30px 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px #E8E5E5 solid;
    width: calc(100% / 3 - (10px * 2 + 25px * 2));
}
.PRICE {
    margin: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px #E8E5E5 solid;
    width: calc(100% / 3 - (10px * 2 + 25px * 2));
}


/* Special offers */
.offers {
    background: white;
    text-align: center;
    padding: 50px 30px 50px 30px;
}
.offers h1 {
    font-size: 40px;
    font-weight: 800;
}
#title {
    font-weight: 100;
    font-size: 23px;
    margin: 15px;
    font-weight: 100;
}
.slides h4 {
    font-size: 20px;
}
.slides {
    display: flex;
}
.slide {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide p {
    margin-top: 0;
    padding: 5px 50px;
}
.slide a {
    text-decoration: none;
    color: white;
    background: #ed7a00;
    font-weight: 300;
    padding: 13px 85px;
}


/* BUILDING MATERIALS WITH UP TO 20% DISCOUNT */
.application {
    background: url('images/SL-030722-49030-02.jpg') no-repeat;
    background-size: 100%;
}
.up {
    display: grid;
    grid-template-columns: 65% 1fr;
    padding: 75px 0;
}
.order {
    text-align: left;
    color: white;
    width: auto;
}
.order h1 {
    font-size: 50px;
    font-weight: 900;
    margin-top: 0;
}
.order p {
    font-size: 25px;
    font-weight: 100;
}
.pre-order {
    background: rgb(234, 234, 234);
    border: 6px #ed7a00 solid;
    padding: 40px;
}
.recall{
    font-size: 12px;
    color: #5b5b5b;
}
.pre-order h2 {
    text-align: center;
    font-weight: 300;
    font-size: 23px;
    margin: 5px 0 5px 0;
    padding: 0;
}
.up input {
    border-radius: 5px;
    border: 1px #bfbfbf solid;
    margin: 5px 0;
    padding: 20px 10px;
    width: calc(100% - 10px * 2);
}
.pre-order {
    font-weight: 100;
}
.pre-order button {
    color: white;
    background: #ed7a00;
    font-weight: 300;
    font-size: 18px;
    padding: 17px;
    outline: none;
    border: none;
    width: 100%;
    margin: 20px 0;
}
.note {
    font-size: 13px;
}
.pre-order a {
    color: #ed7a00;
    text-decoration: underline;
}


/* Catalog of building materials */
.Catalog {
    text-align: center;
    margin: 0 130px;
}
.store-catalog h1 {
    font-size: 45px;
    font-weight: 900;
}
.store-catalog p {
    font-size: 25px;
    color: #5b5b5b;
}
.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.material {
    display: flex;
    text-align: left;
    padding: 10px 70px 70px 10px;
    border: 1px #E8E5E5 solid;
    margin: 20px 10px;
}
.material h3 {
    font-size: 23px;
    font-weight: 200; 
}
.material p {
    font-size: 20px;
    font-weight: 100;
}
.material span {
    font-size: 30px;
    font-weight: 500;
}
.material a {
    color: white;
    background: #ed7a00;
    padding: 11px 75px;
    margin: 40px 0;
    font-size: 20px;
    font-weight: 100;
}
.material img {
    border-radius: 50%;
    margin: 30px;
}


/* Terms of payment and delivery */
.Conditions {
    background: white;
    padding: 5% 12% 5% 12%;
    margin-top: 100px;
}
.Conditions h1 {
 text-align: center;
 font-size: 40px;
 font-weight: 900;
}
.Conditions p {
    font-size: 18px;
    color: #5a5a5a;
}
.Conditions ul {
    margin: 15px;
}


/* Reviews from our clients */
.clients {
    display: flex;
    text-align: center;
}
.Reviews {
    margin: 5%;
}
.Reviews h1 {
 text-align: center;
 font-size: 40px;
 font-weight: 900;
}
.Reviews p {
    font-size: 24px;
    text-align: center;
    color: #5a5a5a;
}
.clients img {
    border-radius: 50%;
}
.clients h3 {
    text-align: center;
    font-weight: 200;
}
.clients p {
    font-size: 19px;
    text-align: center;
    color: #5a5a5a;
}
.client {
    border: 1px #bfbfbf solid;
    margin: 13px;
    padding: 20px;
}


/* Still have questions? Leave a request on the website */
.questions {
    background: white;
    padding: 7% 12% 7% 12%;
}
.filling {
    border: 5px #ed7a00 solid;
    padding: 3% 2%;
}
.filling h1 {
    text-align: center;
    font-weight: 500;
}
.filling input {
    font-size: 15px;
    border: none;
    border-bottom: 1px solid silver;
    outline: none;
    width: 220px;
    margin: 0 10px;
    padding: 15px 0; 
    caret-color: #ed7a00; 
}
.filling input:focus {
    border-color: #ed7a00;
} 
.filling a {
    color: white;
    background: #ed7a00;
    font-size: 25px;
    padding: 10px 40px 10px 40px;
    margin: 0 15px;
}
.postscriptum {
    font-size: 15px;
}
.postscriptum a {
    font-size: 15px;
    background: white;
    color: #ed7a00;
    padding: 0;
    margin: 0;
    text-decoration: underline;
}


